
body {
    background-color: blanchedalmond;
    margin: 0px 350px 40px 350px;
}
@font-face{
font-family:pas12;
        src:url(tipo2.ttf);
}
 

@font-face{
    font-family:Dragon;
            src:url(Dragon\ Ball.ttf);
}   

@font-face{
    font-family:Pirate;
            src:url(Pirate\ Jack.ttf);
}   
p.titulo{
    font-family: pas12;
    color:black;
    font-size: 50px;
    text-align: center;
    
}
p.fantasy {
    font-family:Pirate;
    color:black(226, 64, 43);
    font-size:x-large;text-align: center;
    font-size: 35px; 
    }

p.cursiva{
    font-family:Dragon;
    font-size:x-large;}

#Logo{

    width: 200px; height: 150px;text-align: center;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 150px;
}
#Primerop {

    font-size: 25;
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

#PrimeraIMG {
    width: 300PX;
    height: 300PX;
    align-content: center;




}
#Goku{

    width: 150PX;
    height: 150PX;
    float: right;
    
}
#Video1{
    width: 250;
    height: 250px;
    display:block;
    margin-left: auto;
    margin-right: auto;

}

#Video2{
    width: 250;
    height: 250px;
    display:block;
    margin-left: auto;
    margin-right: auto;

}


