
body {
    background-color: blanchedalmond;
}

p.titulo{

    color:black;
    font-size: 34px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    
}

p.fantasy {font-family: fantasy;font-size:xx-large;}

p.cursiva{font-family:cursive;font-size:x-large;}


