
body {
    background-color: blanchedalmond;
}

p.titulo{

    color:black;
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    
}
p.fantasy {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:x-large;text-align: center; 
    border: 2px solid black; }

p.cursiva{
    font-family:cursive;
    font-size:x-large;}

#Logo{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 150px;
}
#Primerop {

    font-size: 25;
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

#PrimeraIMG {
    width: 300PX;
    height: 300PX;
    align-content: center;

}